<div class="col-md-4 art-block" style="text-align:center;">
{{#if hovered}}
  {{!-- <span class="helper"></span> --}}
  <img src="{{thing.img_link}}" class="grid-image" style="object-fit:cover">
  <span class="art-info">
    <h3>{{thing.name}}</h3>
    <p>{{thing.description}}</p>
    <p>by {{thing.user.name}}</p>
  </span>
{{else}}
  {{!-- <span class="helper"></span> --}}
  <img src="{{thing.img_link}}" class="grid-image" style="object-fit:cover">
{{/if}}
</div>