<div class="col-md-4 art-block" style="text-align:center;
    background-image:url('{{thing.img_link}}');background-size:cover;background-repeat:no-repeat;background-position: 15px 15px">
{{#if hovered}}
  {{!-- <span class="helper"></span> --}}
  <span class="art-info">
    <h3>{{thing.name}}</h3>
    <p>{{thing.description}}</p>
    <p>by {{thing.user.name}}</p>
  </span>
{{else}}
  {{!-- <span class="helper"></span> --}}
{{/if}}
</div>