<div class="col-md-4 art-block">
{{#if hovered}}
  {{!-- <span class="helper"></span> --}}
  <img src="{{thing.img_link}}" class="grid-image" style="object-fit:cover">
  <span class="art-info">

  {{#link-to "arts.art" thing.id}}
<h3>{{thing.name}}</h3>
 {{/link-to}}


  
    <p>{{thing.description}}</p>
    <p>by {{thing.user.name}}</p>
  </span>
{{else}}
  {{!-- <span class="helper"></span> --}}
  <img src="{{thing.img_link}}" class="grid-image" style="object-fit:cover">
{{/if}}
</div>