<div class="col-md-4 art-block" style="text-align:center;">
{{#if hovered}}
  {{!-- <span class="helper"></span> --}}
  <img src="{{thing.img_link}}" class="grid-image">
  <span class="art-info">
    {{#link-to 'spaces.space' thing.id}}<h3>{{thing.name}}</h3>{{/link-to}}
    <p>{{thing.location}}</p>
    <p>{{thing.description}}</p>
  </span>
{{else}}
  {{!-- <span class="helper"></span> --}}
  <img src="{{thing.img_link}}" class="grid-image">
{{/if}}
</div>