<div class="col-md-4" id="left-show">
  <div class="art-block show-block">
    <div class="valign-helper">
      <div class="valign-cell">
        <h2 class="display-name">{{model.name}}</h2>
        <br>
        <h3 class="display-name">by {{model.user.name}}</h3>
      </div>
    </div>
  </div>
  <div class="art-block show-block">
    <div class="valign-helper">
      <div class="valign-cell" style="vertical-align:top">
        <h3 class="display-name">Description: </h3>
        <br>
        <p>{{model.description}}</p>

      </div>
    </div>
  </div>
  <div class="art-block">
    <div class="valign-helper">
      <div class="valign-cell" style="vertical-align:top">
      </div>
    </div>
  </div>
</div>

<div class="col-md-8" id="image-show">
<img src="{{model.img_link}}" class="show-page-img">
</div>

<div class="col-md-4 art-block">
  {{edit-art saveChanges=(action "update") art=model}}
</div>
<div class="col-md-4 art-block">



 {{#if (if-equal sessionAccount.account.id model.user.id ) }} 
<p><button class='btn btn-default btn-md btn-block'  {{action 'delete' model}}>Delete</button></p>
 {{/if}}
 



</div>
