<div class="container-fluid" id="main-container"> 


  <div class="col-md-3" id="side-nav">

  <div class="col-md-12 side logo">
    {{#link-to 'application'}}<h1 class="sick-logo">Art Space</h1>{{/link-to}}
  </div>
    <div class="col-md-12 side" style="padding-right: 8%;padding-left: 2%;padding-top: 10%;">
    {{link-to "All the Art!" "arts" class="btn btn-default btn-md btn-block" }}
    {{link-to "All the Space!" "spaces" class="btn btn-default btn-md btn-block"}}
    {{link-to "My Profile!" "profile" class="btn btn-default btn-md btn-block"}}  
    {{link-to "Add Art" "new-art" class="btn btn-default btn-md btn-block btn-half"}}
     {{link-to "Add Space" "new-art" class="btn btn-default btn-md btn-block btn-half"}}
</div>



<div class="col-md-12 side" style="padding-right: 8%;padding-left: 2%;padding-top: 10%;">
  {{#if session.isAuthenticated}}
    <br><br>
    <p>Hello {{sessionAccount.account.name}} </p>
    <div class="col-xs-12" style="padding-right: 0%;padding-left: 0%;">
      {{bs-button class="btn btn-default btn-sm btn-block" action="invalidateSession" text="Log Out"}}
    </div>

  {{else}}


      <button type="button" class="btn btn-default btn-lg btn-half" data-toggle="modal" data-target="#login">Log In</button>
      <button type="button" class="btn btn-default btn-lg btn-half" data-toggle="modal" data-target="#signup">Sign Up</button>

  {{/if}}


    {{outlet 'pagenav'}}
    </div>
  </div>




  <!-- Modal for Login -->
  <div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
         {{login-form triggerAuthenticate=(action "authenticate") errorMessage=errorMessage}}
       </div>
     </div>
   </div>

 </div>

 <!-- Modal for Login -->
 <div id="signup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
      <div class="modal-body">
        {{signup-form user=model triggerSave=(action "save") errorMessage=errorMessage}}
      </div>
    </div>
  </div>
</div>


<div class="col-md-9" id="right-main">  
  {{outlet 'main'}}
</div>



</div>


